<div class="grid grid-flow-col">
  <div>
    <%@country.each do |c|%>
      <div class="flex flex-col">
        <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
            <div class="overflow-hidden">
              <table class="min-w-full">
                <thead class="border-b bg-cyan-400">
                  <tr class="text-white">
                    <th class="text-xl font-medium px-6 py-4 text-left">
                      <%=c['name']['official']%>
                    </th>
                    <th class="text-sm font-medium px-6 py-4 text-left">
                      <img class="block h-10 rounded-lg" src='<%=c['flags']['svg']%>'/>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="border-b">
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                      Population
                    </td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                      <%=c['population']%>
                    </td>
                  </tr>
                  <tr class="border-b">
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                      Capital
                    </td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                      <%=c['capital'][0]%>
                    </td>
                  </tr>
                  <tr class="border-b">
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                      Area
                    </td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                      <%=c['area']%>
                    </td>
                  </tr>
                  <tr class="border-b">
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                      Continent
                    </td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                      <%=c['continents'][0]%>
                    </td>
                  </tr>
                  <tr class="border-b">
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                      See me on the map!
                    </td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                      <%= link_to 'click me', c['maps']['googleMaps'], target: :_blank %>
                    </td>
                  </tr>
                  <% if @covid_data.empty? %>
                    <tr class="text-white">
                      <th class="text-sm font-medium px-6 py-4 text-left">
                        <%=c['name']['official']%>
                      </th>
                      <th class="text-sm font-medium px-6 py-4 text-left">
                      </th>
                    </tr>
                    <tr class="border-b">
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                        Sorry! Currently there is no available data from the API.
                      </td>
                      <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                        ---
                      </td>
                    </tr>
                  <%else%>
                    <tr class="border-b">
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                        Covid cases as of: <%= @covid_data[-1]['Date'].chomp("T00:00:00Z")%>
                      </td>
                    </tr>
                    <tr class="border-b">
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                        Confirmed
                      </td>
                      <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                        <%= @covid_data[-1]['Confirmed']%>
                      </td>
                    </tr>
                    <tr class="border-b">
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                        Deaths
                      </td>
                      <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                        <%= @covid_data[-1]['Deaths']%>
                      </td>
                    </tr>
                    <tr class="border-b">
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                        Recovered
                      </td>
                      <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                        <%= @covid_data[-1]['Recovered']%>
                      </td>
                    </tr>
                    <tr class="border-b">
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                        Active
                      </td>
                      <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                        <%= @covid_data[-1]['Active']%>
                      </td>
                    </tr>
                  <%end%>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="max-w-sm rounded-lg border shadow-md bg-gray-800 border-gray-700">
        <img class="rounded-t-lg" src='<%=c['coatOfArms']['svg']%>'/>
      </div>
    </div>
  <%end%>
</div>
